body,
html{
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    background: url(header.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1{
    font-size: 3rem;
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px black;
}

.btn{
    font-weight: 700;
    border-radius: 300px;
    text-transform: uppercase;
}

.buffer{
    height: 15rem;
}

.btn-primary{
    background-color: orangered;
    border-color: orangered;
}

.btn-x1{
    padding: 1rem 2rem;
}
.btn-primary:hover{
    background-color: rgb(206, 55, 0);
    border-color: rgb(206, 55, 0);
    border-width: 4px;
}

hr{
    margin: 20px auto;
    color: rgb(206, 55, 0);
    border: 3px solid;
    opacity: 1;
    max-width: 65px;
}

